
.font-metal{
    font-family: $font-metal;
}
.font-sri{
    font-family: $font-sri;
}
.font-musio{
    font-family: $font-musio;
}

.font-12{
    font-size: 12px;
}


.font-14{
    font-size: 14px;
}

.font-20{
    font-size: 20px;
}